{
  "openapi": "3.0.0",
  "info": {
    "title": "Kejue Platform API",
    "description": "Public REST API for managing voice AI agents, phone numbers, tools, and calls",
    "version": "1.0.0",
    "contact": {
      "name": "Kejue AI",
      "url": "https://chorus-ai.co"
    }
  },
  "servers": [
    {
      "url": "https://api.chorus-ai.co/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3001/v1",
      "description": "Development server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key in the format: Bearer YOUR_API_KEY"
      }
    },
    "schemas": {
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "systemPrompt": {
            "type": "string",
            "maxLength": 12000,
            "nullable": true
          },
          "slmModelId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "voiceId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "voiceSpeed": {
            "type": "number",
            "minimum": 0.6,
            "maximum": 1.5,
            "default": 1.0
          },
          "voiceStability": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "default": 0.5,
            "description": "Voice stability setting (ElevenLabs/Faseeh only)"
          },
          "turnEndpointDelay": {
            "type": "integer",
            "minimum": 50,
            "maximum": 2000,
            "nullable": true,
            "description": "Silence duration in ms before the agent responds (default: 100)"
          },
          "minTurnDuration": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2000,
            "nullable": true,
            "description": "Minimum speech duration in ms to count as a valid turn (default: 50)"
          },
          "minInterruptionDuration": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2000,
            "nullable": true,
            "description": "How long in ms the user must speak to interrupt the agent (default: 100)"
          },
          "frameActivationThreshold": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "nullable": true,
            "description": "VAD probability threshold for speech detection (default: 0.35)"
          },
          "postSpeechCooldown": {
            "type": "integer",
            "minimum": 0,
            "maximum": 5000,
            "nullable": true,
            "description": "Echo guard timeout in ms after agent stops speaking (default: 400)"
          },
          "ultravadEotThreshold": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "nullable": true,
            "description": "End-of-turn probability threshold (default: 0.1)"
          },
          "speculativeSilenceMs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 5000,
            "nullable": true,
            "description": "How quickly in ms to start speculative inference on silence (default: 150)"
          },
          "fallbackSilenceMs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000,
            "nullable": true,
            "description": "Fallback timeout in ms if endpointing fails (default: 3000)"
          },
          "isActive": {
            "type": "boolean",
            "default": true
          },
          "allowEndCall": {
            "type": "boolean",
            "default": true
          },
          "postCallSummaryEnabled": {
            "type": "boolean",
            "default": false
          },
          "postCallExtractionSchema": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": ["string", "number", "boolean"]
                }
              }
            },
            "default": []
          },
          "postCallWebhookUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "postCallWebhookSecret": {
            "type": "string",
            "nullable": true,
            "description": "Secret used to sign webhook payloads"
          },
          "firstSpeaker": {
            "type": "string",
            "enum": ["user", "agent"],
            "default": "user"
          },
          "agentGreeting": {
            "type": "string",
            "maxLength": 1000,
            "nullable": true
          },
          "agentGreetingEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "firstMessageUninterruptible": {
            "type": "boolean",
            "default": false,
            "description": "Whether the agent's first message cannot be interrupted by the user"
          },
          "firstMessageDelay": {
            "type": "number",
            "default": 0,
            "description": "Seconds to wait before the agent sends its first message"
          },
          "maxCallDurationSeconds": {
            "type": "integer",
            "minimum": 30,
            "maximum": 3600,
            "default": 600
          },
          "languageHint": {
            "type": "string",
            "maxLength": 10,
            "nullable": true,
            "description": "ISO 639-1 language code hint for transcription (e.g., 'ar', 'en')"
          },
          "knowledgeSearchInstructions": {
            "type": "string",
            "maxLength": 2000,
            "nullable": true,
            "description": "Custom instructions for when the agent should search its knowledge base"
          },
          "backgroundSoundId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID of the background sound to play during calls"
          },
          "backgroundSoundVolume": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.15,
            "description": "Volume of the background sound (0.0 to 1.0)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateAgentRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "systemPrompt": {
            "type": "string",
            "maxLength": 12000
          },
          "slmModelId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "voiceId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "voiceSpeed": {
            "type": "number",
            "minimum": 0.6,
            "maximum": 1.5,
            "default": 1.0
          },
          "voiceStability": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "default": 0.5,
            "description": "Voice stability setting (ElevenLabs/Faseeh only)"
          },
          "turnEndpointDelay": {
            "type": "integer",
            "minimum": 50,
            "maximum": 2000,
            "nullable": true,
            "description": "Silence duration in ms before the agent responds (default: 100)"
          },
          "minTurnDuration": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2000,
            "nullable": true,
            "description": "Minimum speech duration in ms to count as a valid turn (default: 50)"
          },
          "minInterruptionDuration": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2000,
            "nullable": true,
            "description": "How long in ms the user must speak to interrupt the agent (default: 100)"
          },
          "frameActivationThreshold": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "nullable": true,
            "description": "VAD probability threshold for speech detection (default: 0.35)"
          },
          "postSpeechCooldown": {
            "type": "integer",
            "minimum": 0,
            "maximum": 5000,
            "nullable": true,
            "description": "Echo guard timeout in ms after agent stops speaking (default: 400)"
          },
          "ultravadEotThreshold": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "nullable": true,
            "description": "End-of-turn probability threshold (default: 0.1)"
          },
          "speculativeSilenceMs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 5000,
            "nullable": true,
            "description": "How quickly in ms to start speculative inference on silence (default: 150)"
          },
          "fallbackSilenceMs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000,
            "nullable": true,
            "description": "Fallback timeout in ms if endpointing fails (default: 3000)"
          },
          "allowEndCall": {
            "type": "boolean",
            "default": true
          },
          "isActive": {
            "type": "boolean",
            "default": true
          },
          "postCallSummaryEnabled": {
            "type": "boolean",
            "default": false
          },
          "postCallExtractionSchema": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["name", "type"],
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": ["string", "number", "boolean"]
                }
              }
            },
            "default": []
          },
          "postCallWebhookUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "postCallWebhookSecret": {
            "type": "string",
            "nullable": true
          },
          "firstSpeaker": {
            "type": "string",
            "enum": ["user", "agent"],
            "default": "user"
          },
          "agentGreeting": {
            "type": "string",
            "maxLength": 1000,
            "nullable": true
          },
          "agentGreetingEnabled": {
            "type": "boolean",
            "default": false
          },
          "firstMessageUninterruptible": {
            "type": "boolean",
            "default": false,
            "description": "Whether the agent's first message cannot be interrupted by the user"
          },
          "firstMessageDelay": {
            "type": "number",
            "default": 0,
            "description": "Seconds to wait before the agent sends its first message"
          },
          "maxCallDurationSeconds": {
            "type": "integer",
            "minimum": 30,
            "maximum": 3600,
            "default": 600
          },
          "languageHint": {
            "type": "string",
            "maxLength": 10,
            "nullable": true,
            "description": "ISO 639-1 language code hint for transcription (e.g., 'ar', 'en')"
          },
          "knowledgeSearchInstructions": {
            "type": "string",
            "maxLength": 2000,
            "nullable": true,
            "description": "Custom instructions for when the agent should search its knowledge base"
          },
          "backgroundSoundId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "ID of the background sound to play during calls"
          },
          "backgroundSoundVolume": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0.15,
            "description": "Volume of the background sound (0.0 to 1.0)"
          }
        }
      },
      "UpdateAgentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "systemPrompt": {
            "type": "string",
            "maxLength": 12000
          },
          "slmModelId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "voiceId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "voiceSpeed": {
            "type": "number",
            "minimum": 0.6,
            "maximum": 1.5
          },
          "voiceStability": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0
          },
          "turnEndpointDelay": {
            "type": "integer",
            "minimum": 50,
            "maximum": 2000,
            "nullable": true
          },
          "minTurnDuration": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2000,
            "nullable": true
          },
          "minInterruptionDuration": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2000,
            "nullable": true
          },
          "frameActivationThreshold": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "nullable": true
          },
          "postSpeechCooldown": {
            "type": "integer",
            "minimum": 0,
            "maximum": 5000,
            "nullable": true
          },
          "ultravadEotThreshold": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "nullable": true
          },
          "speculativeSilenceMs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 5000,
            "nullable": true
          },
          "fallbackSilenceMs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000,
            "nullable": true
          },
          "allowEndCall": {
            "type": "boolean"
          },
          "isActive": {
            "type": "boolean"
          },
          "postCallSummaryEnabled": {
            "type": "boolean"
          },
          "postCallExtractionSchema": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": ["string", "number", "boolean"]
                }
              }
            }
          },
          "postCallWebhookUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "postCallWebhookSecret": {
            "type": "string",
            "nullable": true
          },
          "firstSpeaker": {
            "type": "string",
            "enum": ["user", "agent"]
          },
          "agentGreeting": {
            "type": "string",
            "maxLength": 1000,
            "nullable": true
          },
          "agentGreetingEnabled": {
            "type": "boolean"
          },
          "firstMessageUninterruptible": {
            "type": "boolean"
          },
          "firstMessageDelay": {
            "type": "number"
          },
          "maxCallDurationSeconds": {
            "type": "integer",
            "minimum": 30,
            "maximum": 3600
          },
          "languageHint": {
            "type": "string",
            "maxLength": 10,
            "nullable": true
          },
          "knowledgeSearchInstructions": {
            "type": "string",
            "maxLength": 2000,
            "nullable": true,
            "description": "Custom instructions for when the agent should search its knowledge base"
          },
          "backgroundSoundId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "backgroundSoundVolume": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "number": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "enum": ["twilio", "sip", "voximplant"],
            "description": "Provider type. 'sip' covers both Jambonz and Somleng backends (determined by server config)."
          },
          "sipMode": {
            "type": "string",
            "enum": ["registration", "ip_allowlist"],
            "nullable": true,
            "description": "SIP trunk mode: 'registration' for username/password auth, 'ip_allowlist' for IP-based allowlisting"
          },
          "agentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreatePhoneNumberRequest": {
        "type": "object",
        "required": ["number"],
        "properties": {
          "name": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "enum": ["twilio", "sip", "voximplant", "jambonz"],
            "default": "twilio"
          },
          "sipMode": {
            "type": "string",
            "enum": ["registration", "ip_allowlist"],
            "default": "registration",
            "description": "SIP trunk mode. Use 'registration' for username/password auth, 'ip_allowlist' for IP-based allowlisting. Only applicable when provider is 'sip'."
          },
          "agentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "twilioAccountSid": {
            "type": "string",
            "description": "Required if provider is 'twilio'"
          },
          "twilioAuthToken": {
            "type": "string",
            "description": "Required if provider is 'twilio'"
          },
          "sipUsername": {
            "type": "string",
            "maxLength": 60,
            "description": "Required if provider is 'sip' and sipMode is 'registration'"
          },
          "sipPassword": {
            "type": "string",
            "description": "Required if provider is 'sip' and sipMode is 'registration'"
          },
          "sipProxy": {
            "type": "string",
            "maxLength": 100,
            "description": "SIP registrar host (e.g. 'pbx.example.com'). Required if provider is 'sip' and sipMode is 'registration'. In registration mode, this is the host Somleng registers TO."
          },
          "sipOutboundProxy": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Optional SIP outbound proxy. Used when SIP traffic needs to route through a proxy instead of directly to the host. Only used in registration mode."
          },
          "sipAuthUser": {
            "type": "string",
            "maxLength": 60,
            "nullable": true,
            "description": "Optional SIP authentication username, if different from sipUsername. Only used in registration mode."
          },
          "sipIp": {
            "type": "string",
            "maxLength": 255,
            "description": "IP address of your PBX/SBC. Required if provider is 'sip' and sipMode is 'ip_allowlist'."
          },
          "sipPort": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535,
            "default": 5060,
            "description": "SIP port number. Used in both 'registration' and 'ip_allowlist' modes."
          },
          "sipProtocol": {
            "type": "string",
            "enum": ["udp", "tcp", "tls"],
            "default": "udp",
            "description": "SIP transport protocol. Used when sipMode is 'ip_allowlist'."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "UpdatePhoneNumberRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "enum": ["twilio", "sip", "voximplant", "jambonz"]
          },
          "sipMode": {
            "type": "string",
            "enum": ["registration", "ip_allowlist"]
          },
          "agentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "twilioAccountSid": {
            "type": "string"
          },
          "twilioAuthToken": {
            "type": "string"
          },
          "sipUsername": {
            "type": "string",
            "maxLength": 60
          },
          "sipPassword": {
            "type": "string"
          },
          "sipProxy": {
            "type": "string",
            "maxLength": 100,
            "description": "SIP registrar host. In registration mode, this is the host Somleng registers TO."
          },
          "sipOutboundProxy": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "Optional SIP outbound proxy for registration mode."
          },
          "sipAuthUser": {
            "type": "string",
            "maxLength": 60,
            "nullable": true,
            "description": "Optional SIP auth username if different from sipUsername."
          },
          "sipIp": {
            "type": "string",
            "maxLength": 255,
            "description": "IP address of your PBX/SBC (ip_allowlist mode)."
          },
          "sipPort": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535,
            "description": "SIP port number. Used in both registration and ip_allowlist modes."
          },
          "sipProtocol": {
            "type": "string",
            "enum": ["udp", "tcp", "tls"]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Tool": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": ["http"]
          },
          "config": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "method": {
                "type": "string",
                "enum": ["GET", "POST", "PUT", "PATCH", "DELETE"]
              },
              "timeout": {
                "type": "integer",
                "minimum": 100,
                "default": 5000
              },
              "headers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  }
                }
              },
              "body": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": ["string", "number", "boolean"]
                    },
                    "description": {
                      "type": "string"
                    },
                    "required": {
                      "type": "boolean",
                      "default": false
                    }
                  }
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateToolRequest": {
        "type": "object",
        "required": ["name", "type", "config"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["http"]
          },
          "config": {
            "type": "object",
            "required": ["url", "method"],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "method": {
                "type": "string",
                "enum": ["GET", "POST", "PUT", "PATCH", "DELETE"]
              },
              "timeout": {
                "type": "integer",
                "minimum": 100,
                "default": 5000
              },
              "headers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["key", "value"],
                  "properties": {
                    "key": {
                      "type": "string",
                      "minLength": 1
                    },
                    "value": {
                      "type": "string"
                    }
                  }
                }
              },
              "body": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["name", "type"],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "type": {
                      "type": "string",
                      "enum": ["string", "number", "boolean"]
                    },
                    "description": {
                      "type": "string"
                    },
                    "required": {
                      "type": "boolean",
                      "default": false
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UpdateToolRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["http"]
          },
          "config": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "method": {
                "type": "string",
                "enum": ["GET", "POST", "PUT", "PATCH", "DELETE"]
              },
              "timeout": {
                "type": "integer",
                "minimum": 100
              },
              "headers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  }
                }
              },
              "body": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": ["string", "number", "boolean"]
                    },
                    "description": {
                      "type": "string"
                    },
                    "required": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Call": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid"
          },
          "agentId": {
            "type": "string",
            "format": "uuid"
          },
          "phoneNumberId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "callSid": {
            "type": "string",
            "nullable": true
          },
          "provider": {
            "type": "string",
            "nullable": true
          },
          "direction": {
            "type": "string",
            "enum": ["inbound", "outbound"]
          },
          "status": {
            "type": "string"
          },
          "customerNumber": {
            "type": "string",
            "nullable": true
          },
          "durationSeconds": {
            "type": "integer",
            "nullable": true
          },
          "cost": {
            "type": "number",
            "nullable": true,
            "description": "Cost of the call in USD"
          },
          "recordingUrl": {
            "type": "string",
            "nullable": true
          },
          "turnCount": {
            "type": "integer",
            "nullable": true,
            "description": "Number of conversation turns"
          },
          "transcript": {
            "type": "array",
            "nullable": true,
            "description": "Full conversation transcript. Only included in single-call detail responses (GET /calls/{id}), not in list responses.",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": ["user", "assistant", "system"]
                },
                "content": {
                  "type": "string"
                }
              }
            }
          },
          "analysis": {
            "type": "object",
            "nullable": true,
            "description": "Post-call analysis including summary and extracted data. Only included in single-call detail responses (GET /calls/{id}), not in list responses.",
            "properties": {
              "summary": {
                "type": "string",
                "nullable": true
              },
              "extractions": {
                "type": "object",
                "additionalProperties": true,
                "nullable": true
              }
            }
          },
          "endedReason": {
            "type": "string",
            "nullable": true,
            "description": "Reason the call ended"
          },
          "contextVariables": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "endedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Voice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "SlmModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {}
          },
          "pagination": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "offset": {
                "type": "integer"
              }
            }
          }
        }
      },
      "KnowledgeDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "agentId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the agent this document belongs to"
          },
          "name": {
            "type": "string",
            "description": "Display name of the document"
          },
          "filename": {
            "type": "string",
            "description": "Original filename"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the document"
          },
          "fileSize": {
            "type": "integer",
            "description": "Size of the file in bytes"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "failed"],
            "description": "Processing status of the document"
          },
          "chunkCount": {
            "type": "integer",
            "nullable": true,
            "description": "Number of chunks after processing"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "KnowledgeSearchRequest": {
        "type": "object",
        "required": ["agentId", "query"],
        "properties": {
          "agentId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the agent whose knowledge to search"
          },
          "query": {
            "type": "string",
            "description": "Search query"
          },
          "topK": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "default": 5,
            "description": "Number of results to return"
          }
        }
      },
      "KnowledgeSearchResult": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string",
                  "description": "Text content of the matching chunk"
                },
                "document": {
                  "type": "string",
                  "description": "Name of the source document"
                },
                "score": {
                  "type": "number",
                  "description": "Relevance score"
                }
              }
            }
          }
        }
      },
      "UploadKnowledgeRequest": {
        "type": "object",
        "required": ["agentId", "name", "filename", "mimeType", "fileSize", "fileBase64"],
        "properties": {
          "agentId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the agent to associate this document with"
          },
          "name": {
            "type": "string",
            "description": "Display name for the document"
          },
          "filename": {
            "type": "string",
            "description": "Original filename"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type (e.g., application/pdf, text/plain)"
          },
          "fileSize": {
            "type": "integer",
            "description": "Size of the file in bytes"
          },
          "fileBase64": {
            "type": "string",
            "description": "Base64-encoded file content"
          }
        }
      },
      "BackgroundSound": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "isSystemPreset": {
            "type": "boolean",
            "description": "Whether this is a system-wide preset sound"
          },
          "fileSize": {
            "type": "integer",
            "nullable": true,
            "description": "Size of the audio file in bytes"
          },
          "durationSeconds": {
            "type": "number",
            "nullable": true,
            "description": "Duration of the audio in seconds"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/agents": {
      "get": {
        "summary": "List all agents",
        "description": "Retrieve a paginated list of all agents in your organization",
        "operationId": "listAgents",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search agents by name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Agent"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new agent",
        "description": "Create a new voice AI agent",
        "operationId": "createAgent",
        "tags": ["Agents"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}": {
      "get": {
        "summary": "Get agent by ID",
        "description": "Retrieve a specific agent by its ID",
        "operationId": "getAgent",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Agent"
                        },
                        {
                          "properties": {
                            "toolIds": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "format": "uuid"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update agent",
        "description": "Update an existing agent",
        "operationId": "updateAgent",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete agent",
        "description": "Delete an agent permanently",
        "operationId": "deleteAgent",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/phone-numbers": {
      "get": {
        "summary": "List all phone numbers",
        "description": "Retrieve a paginated list of all phone numbers in your organization",
        "operationId": "listPhoneNumbers",
        "tags": ["Phone Numbers"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PhoneNumber"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new phone number",
        "description": "Register a new phone number. For Twilio, provide account credentials. For SIP, choose between 'registration' mode (Somleng registers TO your PBX) or 'ip_allowlist' mode (your PBX IP is allowlisted). SIP numbers support outbound proxy and auth user options in registration mode.",
        "operationId": "createPhoneNumber",
        "tags": ["Phone Numbers"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Phone number created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PhoneNumber"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/phone-numbers/{id}": {
      "get": {
        "summary": "Get phone number by ID",
        "description": "Retrieve a specific phone number by its ID",
        "operationId": "getPhoneNumber",
        "tags": ["Phone Numbers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Phone number ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PhoneNumber"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Phone number not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update phone number",
        "description": "Update an existing phone number",
        "operationId": "updatePhoneNumber",
        "tags": ["Phone Numbers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Phone number ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone number updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PhoneNumber"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Phone number not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete phone number",
        "description": "Delete a phone number permanently",
        "operationId": "deletePhoneNumber",
        "tags": ["Phone Numbers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Phone number ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone number deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Phone number not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tools": {
      "get": {
        "summary": "List all tools",
        "description": "Retrieve a paginated list of all custom tools in your organization",
        "operationId": "listTools",
        "tags": ["Tools"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Tool"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new tool",
        "description": "Create a new HTTP tool that agents can call",
        "operationId": "createTool",
        "tags": ["Tools"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateToolRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tool created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Tool"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tools/{id}": {
      "get": {
        "summary": "Get tool by ID",
        "description": "Retrieve a specific tool by its ID",
        "operationId": "getTool",
        "tags": ["Tools"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Tool ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Tool"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update tool",
        "description": "Update an existing tool",
        "operationId": "updateTool",
        "tags": ["Tools"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Tool ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateToolRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Tool"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete tool",
        "description": "Delete a tool permanently",
        "operationId": "deleteTool",
        "tags": ["Tools"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Tool ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calls": {
      "get": {
        "summary": "List all calls",
        "description": "Retrieve a paginated list of all calls in your organization",
        "operationId": "listCalls",
        "tags": ["Calls"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Call"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an outbound call",
        "description": "Initiate an outbound call using a configured phone number and agent. This endpoint queues the call and returns immediately with the call details.",
        "operationId": "createCall",
        "tags": ["Calls"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agentId", "phoneNumberId", "to"],
                "properties": {
                  "agentId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The ID of the agent to use for this call"
                  },
                  "phoneNumberId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The ID of the phone number to call from"
                  },
                  "to": {
                    "type": "string",
                    "description": "The destination phone number in E.164 format (e.g., +14155551234)"
                  },
                  "contextVariables": {
                    "type": "object",
                    "additionalProperties": {
                      "oneOf": [
                        {"type": "string"},
                        {"type": "number"},
                        {"type": "boolean"}
                      ]
                    },
                    "description": "Optional variables to use in the agent's system prompt and greeting template",
                    "example": {
                      "customerName": "John Doe",
                      "accountNumber": "12345"
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional metadata to store with the call record"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Call created and queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Call"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient funds",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Insufficient funds. Please top up your balance."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent or phone number not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Failed to initiate call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calls/{id}": {
      "get": {
        "summary": "Get call by ID",
        "description": "Retrieve a specific call by its ID, including transcripts, recordings, and extracted data",
        "operationId": "getCall",
        "tags": ["Calls"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Call ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Call"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Call not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/voices": {
      "get": {
        "summary": "List all voices",
        "description": "Retrieve a paginated list of all available voices",
        "operationId": "listVoices",
        "tags": ["Voices"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Voice"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/voices/{id}": {
      "get": {
        "summary": "Get voice by ID",
        "description": "Retrieve a specific voice by its ID",
        "operationId": "getVoice",
        "tags": ["Voices"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Voice ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Voice"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Voice not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/slm-models": {
      "get": {
        "summary": "List all SLM models",
        "description": "Retrieve a paginated list of all available Small Language Models",
        "operationId": "listSlmModels",
        "tags": ["SLM Models"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SlmModel"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/slm-models/{id}": {
      "get": {
        "summary": "Get SLM model by ID",
        "description": "Retrieve a specific SLM model by its ID",
        "operationId": "getSlmModel",
        "tags": ["SLM Models"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "SLM Model ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SlmModel"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "SLM model not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/knowledge": {
      "get": {
        "summary": "List knowledge documents",
        "description": "Retrieve a list of all knowledge documents for an agent",
        "operationId": "listKnowledgeDocuments",
        "tags": ["Knowledge"],
        "parameters": [
          {
            "name": "agentId",
            "in": "query",
            "required": true,
            "description": "ID of the agent to list documents for",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KnowledgeDocument"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing agentId parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Upload knowledge document",
        "description": "Upload a new knowledge document for an agent. Requires knowledgeSearchInstructions to be configured on the agent.",
        "operationId": "uploadKnowledgeDocument",
        "tags": ["Knowledge"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadKnowledgeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/KnowledgeDocument"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields or knowledge search instructions not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/knowledge/{id}": {
      "get": {
        "summary": "Get knowledge document",
        "description": "Retrieve a specific knowledge document by ID",
        "operationId": "getKnowledgeDocument",
        "tags": ["Knowledge"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/KnowledgeDocument"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete knowledge document",
        "description": "Delete a knowledge document",
        "operationId": "deleteKnowledgeDocument",
        "tags": ["Knowledge"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/knowledge/{id}/status": {
      "get": {
        "summary": "Get document processing status",
        "description": "Check the processing status of a knowledge document",
        "operationId": "getKnowledgeDocumentStatus",
        "tags": ["Knowledge"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Document ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["pending", "processing", "completed", "failed"]
                        },
                        "chunkCount": {
                          "type": "integer",
                          "nullable": true
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Document not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/knowledge/search": {
      "post": {
        "summary": "Search knowledge",
        "description": "Search the knowledge base for relevant information",
        "operationId": "searchKnowledge",
        "tags": ["Knowledge"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent has no knowledge collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/background-sounds": {
      "get": {
        "summary": "List background sounds",
        "description": "Retrieve a list of all available background sounds (system presets and organization-specific)",
        "operationId": "listBackgroundSounds",
        "tags": ["Background Sounds"],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BackgroundSound"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Agents",
      "description": "Manage voice AI agents"
    },
    {
      "name": "Knowledge",
      "description": "Manage knowledge base documents for agents"
    },
    {
      "name": "Phone Numbers",
      "description": "Manage phone numbers and telephony providers"
    },
    {
      "name": "Tools",
      "description": "Manage custom HTTP tools for agents"
    },
    {
      "name": "Calls",
      "description": "View call history and details"
    },
    {
      "name": "Voices",
      "description": "Browse available voice models"
    },
    {
      "name": "SLM Models",
      "description": "Browse available Small Language Models"
    },
    {
      "name": "Background Sounds",
      "description": "Browse available background sounds for calls"
    }
  ]
}
