{
  "openapi": "3.0.0",
  "info": {
    "title": "Kejue Platform API",
    "description": "Public REST API for managing voice AI agents, phone numbers, tools, and calls",
    "version": "1.0.0",
    "contact": {
      "name": "Kejue AI",
      "url": "https://chorus-ai.co"
    }
  },
  "servers": [
    {
      "url": "https://api.chorus-ai.co/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3001/v1",
      "description": "Development server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key in the format: Bearer YOUR_API_KEY"
      }
    },
    "schemas": {
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "systemPrompt": {
            "type": "string",
            "maxLength": 12000,
            "nullable": true
          },
          "slmModelId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "voiceId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "voiceSpeed": {
            "type": "number",
            "minimum": 0.6,
            "maximum": 1.5,
            "default": 1.0
          },
          "settings": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "isActive": {
            "type": "boolean",
            "default": true
          },
          "allowEndCall": {
            "type": "boolean",
            "default": true
          },
          "postCallSummaryEnabled": {
            "type": "boolean",
            "default": false
          },
          "postCallExtractionSchema": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": ["string", "number", "boolean"]
                }
              }
            },
            "default": []
          },
          "postCallWebhookUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "firstSpeaker": {
            "type": "string",
            "enum": ["user", "agent"],
            "default": "user"
          },
          "agentGreeting": {
            "type": "string",
            "maxLength": 1000,
            "nullable": true
          },
          "agentGreetingEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "maxCallDurationSeconds": {
            "type": "integer",
            "minimum": 30,
            "maximum": 3600,
            "default": 600
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateAgentRequest": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "systemPrompt": {
            "type": "string",
            "maxLength": 12000
          },
          "slmModelId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "voiceId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "voiceSpeed": {
            "type": "number",
            "minimum": 0.6,
            "maximum": 1.5,
            "default": 1.0
          },
          "settings": {
            "type": "object",
            "additionalProperties": true
          },
          "allowEndCall": {
            "type": "boolean",
            "default": true
          },
          "isActive": {
            "type": "boolean",
            "default": true
          },
          "postCallSummaryEnabled": {
            "type": "boolean",
            "default": false
          },
          "postCallExtractionSchema": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["name", "type"],
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": ["string", "number", "boolean"]
                }
              }
            },
            "default": []
          },
          "postCallWebhookUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "postCallWebhookSecret": {
            "type": "string",
            "nullable": true
          },
          "firstSpeaker": {
            "type": "string",
            "enum": ["user", "agent"],
            "default": "user"
          },
          "agentGreeting": {
            "type": "string",
            "maxLength": 1000,
            "nullable": true
          },
          "maxCallDurationSeconds": {
            "type": "integer",
            "minimum": 30,
            "maximum": 3600,
            "default": 600
          },
          "languageHint": {
            "type": "string",
            "maxLength": 10,
            "nullable": true
          }
        }
      },
      "UpdateAgentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "systemPrompt": {
            "type": "string",
            "maxLength": 12000
          },
          "slmModelId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "voiceId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "voiceSpeed": {
            "type": "number",
            "minimum": 0.6,
            "maximum": 1.5
          },
          "settings": {
            "type": "object",
            "additionalProperties": true
          },
          "allowEndCall": {
            "type": "boolean"
          },
          "isActive": {
            "type": "boolean"
          },
          "postCallSummaryEnabled": {
            "type": "boolean"
          },
          "postCallExtractionSchema": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": ["string", "number", "boolean"]
                }
              }
            }
          },
          "postCallWebhookUrl": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "postCallWebhookSecret": {
            "type": "string",
            "nullable": true
          },
          "firstSpeaker": {
            "type": "string",
            "enum": ["user", "agent"]
          },
          "agentGreeting": {
            "type": "string",
            "maxLength": 1000,
            "nullable": true
          },
          "maxCallDurationSeconds": {
            "type": "integer",
            "minimum": 30,
            "maximum": 3600
          },
          "languageHint": {
            "type": "string",
            "maxLength": 10,
            "nullable": true
          }
        }
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "number": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "enum": ["twilio", "sip", "voximplant"]
          },
          "agentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreatePhoneNumberRequest": {
        "type": "object",
        "required": ["number"],
        "properties": {
          "name": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "enum": ["twilio", "sip", "voximplant", "jambonz"],
            "default": "twilio"
          },
          "agentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "twilioAccountSid": {
            "type": "string",
            "description": "Required if provider is 'twilio'"
          },
          "twilioAuthToken": {
            "type": "string",
            "description": "Required if provider is 'twilio'"
          },
          "sipUsername": {
            "type": "string",
            "maxLength": 60,
            "description": "Required if provider is 'sip'"
          },
          "sipPassword": {
            "type": "string",
            "description": "Required if provider is 'sip'"
          },
          "sipProxy": {
            "type": "string",
            "maxLength": 100,
            "description": "Required if provider is 'sip'"
          },
          "sipOutboundProxy": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "sipAuthUser": {
            "type": "string",
            "maxLength": 60,
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "UpdatePhoneNumberRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "enum": ["twilio", "sip", "voximplant", "jambonz"]
          },
          "agentId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "twilioAccountSid": {
            "type": "string"
          },
          "twilioAuthToken": {
            "type": "string"
          },
          "sipUsername": {
            "type": "string",
            "maxLength": 60
          },
          "sipPassword": {
            "type": "string"
          },
          "sipProxy": {
            "type": "string",
            "maxLength": 100
          },
          "sipOutboundProxy": {
            "type": "string",
            "maxLength": 100,
            "nullable": true
          },
          "sipAuthUser": {
            "type": "string",
            "maxLength": 60,
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Tool": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": ["http"]
          },
          "config": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "method": {
                "type": "string",
                "enum": ["GET", "POST", "PUT", "PATCH", "DELETE"]
              },
              "timeout": {
                "type": "integer",
                "minimum": 100,
                "default": 5000
              },
              "headers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  }
                }
              },
              "body": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": ["string", "number", "boolean"]
                    },
                    "description": {
                      "type": "string"
                    },
                    "required": {
                      "type": "boolean",
                      "default": false
                    }
                  }
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateToolRequest": {
        "type": "object",
        "required": ["name", "type", "config"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["http"]
          },
          "config": {
            "type": "object",
            "required": ["url", "method"],
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "method": {
                "type": "string",
                "enum": ["GET", "POST", "PUT", "PATCH", "DELETE"]
              },
              "timeout": {
                "type": "integer",
                "minimum": 100,
                "default": 5000
              },
              "headers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["key", "value"],
                  "properties": {
                    "key": {
                      "type": "string",
                      "minLength": 1
                    },
                    "value": {
                      "type": "string"
                    }
                  }
                }
              },
              "body": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["name", "type"],
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "type": {
                      "type": "string",
                      "enum": ["string", "number", "boolean"]
                    },
                    "description": {
                      "type": "string"
                    },
                    "required": {
                      "type": "boolean",
                      "default": false
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UpdateToolRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["http"]
          },
          "config": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "method": {
                "type": "string",
                "enum": ["GET", "POST", "PUT", "PATCH", "DELETE"]
              },
              "timeout": {
                "type": "integer",
                "minimum": 100
              },
              "headers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  }
                }
              },
              "body": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": ["string", "number", "boolean"]
                    },
                    "description": {
                      "type": "string"
                    },
                    "required": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Call": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid"
          },
          "agentId": {
            "type": "string",
            "format": "uuid"
          },
          "phoneNumberId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "callSid": {
            "type": "string",
            "nullable": true
          },
          "provider": {
            "type": "string",
            "nullable": true
          },
          "direction": {
            "type": "string",
            "enum": ["inbound", "outbound"]
          },
          "status": {
            "type": "string"
          },
          "customerNumber": {
            "type": "string",
            "nullable": true
          },
          "durationSeconds": {
            "type": "integer",
            "nullable": true
          },
          "recordingUrl": {
            "type": "string",
            "nullable": true
          },
          "transcriptUrl": {
            "type": "string",
            "nullable": true
          },
          "summaryUrl": {
            "type": "string",
            "nullable": true
          },
          "extractedData": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "contextVariables": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "endedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Voice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "SlmModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {}
          },
          "pagination": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "offset": {
                "type": "integer"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/agents": {
      "get": {
        "summary": "List all agents",
        "description": "Retrieve a paginated list of all agents in your organization",
        "operationId": "listAgents",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search agents by name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Agent"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new agent",
        "description": "Create a new voice AI agent",
        "operationId": "createAgent",
        "tags": ["Agents"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}": {
      "get": {
        "summary": "Get agent by ID",
        "description": "Retrieve a specific agent by its ID",
        "operationId": "getAgent",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Agent"
                        },
                        {
                          "properties": {
                            "toolIds": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "format": "uuid"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update agent",
        "description": "Update an existing agent",
        "operationId": "updateAgent",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete agent",
        "description": "Delete an agent permanently",
        "operationId": "deleteAgent",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Agent ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/phone-numbers": {
      "get": {
        "summary": "List all phone numbers",
        "description": "Retrieve a paginated list of all phone numbers in your organization",
        "operationId": "listPhoneNumbers",
        "tags": ["Phone Numbers"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PhoneNumber"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new phone number",
        "description": "Register a new phone number with Twilio, SIP, or Voximplant credentials",
        "operationId": "createPhoneNumber",
        "tags": ["Phone Numbers"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Phone number created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PhoneNumber"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/phone-numbers/{id}": {
      "get": {
        "summary": "Get phone number by ID",
        "description": "Retrieve a specific phone number by its ID",
        "operationId": "getPhoneNumber",
        "tags": ["Phone Numbers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Phone number ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PhoneNumber"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Phone number not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update phone number",
        "description": "Update an existing phone number",
        "operationId": "updatePhoneNumber",
        "tags": ["Phone Numbers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Phone number ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Phone number updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PhoneNumber"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Phone number not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete phone number",
        "description": "Delete a phone number permanently",
        "operationId": "deletePhoneNumber",
        "tags": ["Phone Numbers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Phone number ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone number deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Phone number not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tools": {
      "get": {
        "summary": "List all tools",
        "description": "Retrieve a paginated list of all custom tools in your organization",
        "operationId": "listTools",
        "tags": ["Tools"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Tool"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new tool",
        "description": "Create a new HTTP tool that agents can call",
        "operationId": "createTool",
        "tags": ["Tools"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateToolRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tool created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Tool"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tools/{id}": {
      "get": {
        "summary": "Get tool by ID",
        "description": "Retrieve a specific tool by its ID",
        "operationId": "getTool",
        "tags": ["Tools"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Tool ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Tool"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update tool",
        "description": "Update an existing tool",
        "operationId": "updateTool",
        "tags": ["Tools"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Tool ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateToolRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Tool"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete tool",
        "description": "Delete a tool permanently",
        "operationId": "deleteTool",
        "tags": ["Tools"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Tool ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/calls": {
      "get": {
        "summary": "List all calls",
        "description": "Retrieve a paginated list of all calls in your organization",
        "operationId": "listCalls",
        "tags": ["Calls"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Call"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/calls/{id}": {
      "get": {
        "summary": "Get call by ID",
        "description": "Retrieve a specific call by its ID, including transcripts, recordings, and extracted data",
        "operationId": "getCall",
        "tags": ["Calls"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Call ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Call"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Call not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/voices": {
      "get": {
        "summary": "List all voices",
        "description": "Retrieve a paginated list of all available voices",
        "operationId": "listVoices",
        "tags": ["Voices"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Voice"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/voices/{id}": {
      "get": {
        "summary": "Get voice by ID",
        "description": "Retrieve a specific voice by its ID",
        "operationId": "getVoice",
        "tags": ["Voices"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Voice ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Voice"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Voice not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/slm-models": {
      "get": {
        "summary": "List all SLM models",
        "description": "Retrieve a paginated list of all available Small Language Models",
        "operationId": "listSlmModels",
        "tags": ["SLM Models"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SlmModel"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/slm-models/{id}": {
      "get": {
        "summary": "Get SLM model by ID",
        "description": "Retrieve a specific SLM model by its ID",
        "operationId": "getSlmModel",
        "tags": ["SLM Models"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "SLM Model ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SlmModel"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "SLM model not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Agents",
      "description": "Manage voice AI agents"
    },
    {
      "name": "Phone Numbers",
      "description": "Manage phone numbers and telephony providers"
    },
    {
      "name": "Tools",
      "description": "Manage custom HTTP tools for agents"
    },
    {
      "name": "Calls",
      "description": "View call history and details"
    },
    {
      "name": "Voices",
      "description": "Browse available voice models"
    },
    {
      "name": "SLM Models",
      "description": "Browse available Small Language Models"
    }
  ]
}
